tags/dts-pre-prototype-jaxb/dts-jaxb/src/main/resources/dmi-messages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  The OGF takes no position regarding the validity or scope of any 
  intellectual property or other rights that might be claimed to 
  pertain to the implementation or use of the technology described 
  in this document or the extent to which any license under such 
  rights might or might not be available; neither does it represent 
  that it has made any effort to identify any such rights.  Copies 
  of claims of rights made available for publication and any 
  assurances of licenses to be made available, or the result of an 
  attempt made to obtain a general license or permission for the use 
  of such proprietary rights by implementers or users of this 
  specification can be obtained from the OGF Secretariat.
  
  The OGF invites any interested party to bring to its attention any 
  copyrights, patents or patent applications, or other proprietary 
  rights which may cover technology that may be required to practice 
  this recommendation.  Please address the information to the OGF 
  Executive Director.
  
  This document and the information contained herein is provided on 
  an "As Is" basis and the OGF disclaims all warranties, express or 
  implied, including but not limited to any warranty that the use 
  of the information herein will not infringe any rights or any 
  implied warranties of merchantability or fitness for a particular 
  purpose.
  
  Copyright (C) Open Grid Forum (2008). All Rights Reserved. 
  
  This document and translations of it may be copied and furnished to 
  others, and derivative works that comment on or otherwise explain 
  it or assist in its implementation may be prepared, copied, published 
  and distributed, in whole or in part, without restriction of any
  kind, provided that the above copyright notice and this paragraph are 
  included on all such copies and derivative works. However, this 
  document itself may not be modified in any way, such as by removing 
  the copyright notice or references to the OGF or other organizations, 
  except as needed for the purpose of developing Grid Recommendations
  in which case the procedures for copyrights defined in the OGF 
  Document process must be followed, or as required to translate it 
  into languages other than English. 
  
  The limited permissions granted above are perpetual and will not be 
  revoked by the OGF or its successors or assignees.
-->
<schema targetNamespace="http://schemas.ogf.org/dmi/2008/06/dmi/rendering/plain" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:dmi="http://schemas.ogf.org/dmi/2008/05/dmi" xmlns:dmi-plain="http://schemas.ogf.org/dmi/2008/06/dmi/rendering/plain" xmlns:wsa="http://www.w3.org/2005/08/addressing" elementFormDefault="qualified">


  <!-- ======================================================== -->
  <!-- ==                                                    == -->
  <!-- == OGSA DMI WS-I Message model                        == -->
  <!-- ==                                                    == -->
  <!-- == This XML Schema document defines the XML elements  == --> 
  <!-- == necessary to define WS-I compliant WS operations   == -->
  <!-- == and messages.                                      == -->
  <!-- ======================================================== -->

  <import namespace="http://www.w3.org/2005/08/addressing" schemaLocation="http://www.w3.org/2006/03/addressing/ws-addr.xsd"/>

  <import namespace="http://schemas.ogf.org/dmi/2008/05/dmi" schemaLocation="./dmi.xsd"/>


  <!-- ============================================ -->
  <!-- == Factory / Instance Fault message model == -->
  <!-- ============================================ -->

  <!-- Common type for all OGSA-DMI specific faults -->
  <complexType name="DMIFaultType">
    <sequence>
      <element name="Message" type="string"/>
      <element name="Timestamp" type="dateTime"/>
      <any namespace="#other" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>

  <!-- UnsatisfiableRequestOptionsFault message -->
  <element name="UnsatisfiableRequestOptionsFault" type="dmi-plain:UnsatisfiableRequestOptionsFaultType"/>
  <complexType name="UnsatisfiableRequestOptionsFaultType">
    <complexContent>
      <extension base="dmi-plain:DMIFaultType"/>
    </complexContent>
  </complexType>

  <!-- NoTransferProtocolAgreementFault message -->
  <element name="NoTransferProtocolAgreementFault" type="dmi-plain:NoTransferProtocolAgreementFaultType"/>
  <complexType name="NoTransferProtocolAgreementFaultType">
    <complexContent>
      <extension base="dmi-plain:DMIFaultType"/>
    </complexContent>
  </complexType>

  <!-- IncorrectStateFault message -->
  <element name="IncorrectStateFault" type="dmi-plain:IncorrectStateFaultType"/>
  <complexType name="IncorrectStateFaultType">
    <complexContent>
      <extension base="dmi-plain:DMIFaultType"/>
    </complexContent>
  </complexType>

  <!-- FailedStateTransitionFault message -->
  <element name="FailedStateTransitionFault" type="dmi-plain:FailedStateTransitionFaultType"/>
  <complexType name="FailedStateTransitionFaultType">
    <complexContent>
      <extension base="dmi-plain:DMIFaultType"/>
    </complexContent>
  </complexType>

  <!-- RequestedStateNotSupportedFault message -->
  <element name="RequestedStateNotSupportedFault" type="dmi-plain:RequestedStateNotSupportedFaultType"/>
  <complexType name="RequestedStateNotSupportedFaultType">
    <complexContent>
      <extension base="dmi-plain:DMIFaultType"/>
    </complexContent>
  </complexType>

  <!-- CustomFault message -->
  <element name="CustomFault" type="dmi-plain:CustomFaultType"/>
  <complexType name="CustomFaultType">
    <complexContent>
      <extension base="dmi-plain:DMIFaultType"/>
    </complexContent>
  </complexType>
	
  <!-- TransferProtocolNotInstantiatableFault message -->
  <element name="TransferProtocolNotInstantiatableFault" type="dmi-plain:TransferProtocolNotInstantiatableFaultType"/>
  <complexType name="TransferProtocolNotInstantiatableFaultType">
    <complexContent>
      <extension base="dmi-plain:DMIFaultType">
        <sequence>
          <element name="Protocol" type="anyURI"/>
          <element name="SourceDEPR" type="wsa:EndpointReferenceType" minOccurs="0"/>
          <element name="SinkDEPR" type="wsa:EndpointReferenceType" minOccurs="0"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>


  <!-- ================================================= -->
  <!-- == Data Transfer Factory related message model == -->
  <!-- ================================================= -->

  <!--
    Operation "GetFactoryAttributesDocument"
    Input:  n/a
    Output: <dmi:FactoryAttributes />
    Faults: n/a
  -->
  <!-- Request Message -->
  <element name="GetFactoryAttributesDocumentRequestMessage"/>
  <!-- Response Message -->	
  <element name="GetFactoryAttributesDocumentResponseMessage" type="dmi-plain:GetFactoryAttributesDocumentResponseType"/>
  <complexType name="GetFactoryAttributesDocumentResponseType">
    <sequence>
      <element name="FactoryAttributes" type="dmi-plain:FactoryAttributesType"/>
    </sequence>
  </complexType>
  <!-- Supplementary elements -->
  <complexType name="FactoryAttributesType">
    <sequence>
      <element name="SupportedProtocol" type="dmi:SupportedProtocolType" maxOccurs="unbounded"/>
      <any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>

  <!--
    Operation "GetDataTransferInstance"
    Input:  <dmi:SourceDEPR />
            <dmi:SinkDEPR />
            <dmi:TransferRequirements />
    Output: <dmi:ServiceInstance />
    Faults: <dmi:UnsatisfiableRequestOptionsFault />
            <dmi:NoTransferProtocolAgreementFault />
            <dmi:CustomFault />
  -->
  <!-- Request Message -->
  <element name="GetDataTransferInstanceRequestMessage" type="dmi-plain:GetDataTransferInstanceRequestType"/>
  <complexType name="GetDataTransferInstanceRequestType">
    <sequence>
      <element name="SourceDEPR" type="wsa:EndpointReferenceType"/>
      <element name="SinkDEPR" type="wsa:EndpointReferenceType"/>
      <element name="TransferRequirements" type="dmi:TransferRequirementsType"/>
    </sequence>
  </complexType>
  <!-- Response Message -->	
  <element name="GetDataTransferInstanceResponseMessage" type="dmi-plain:GetDataTransferInstanceResponseType"/>
  <complexType name="GetDataTransferInstanceResponseType">
    <sequence>
      <element name="ServiceInstance" type="wsa:EndpointReferenceType"/>
    </sequence>
  </complexType>


  <!-- ================================================== -->
  <!-- == Data Transfer Instance related message model == -->
  <!-- ================================================== -->

  <!--
    Operation "GetInstanceAttributesDocument"
    Input:  n/a
    Output: <dmi:InstanceAttributes />
    Faults: n/a
  -->
  <!-- Request Message -->
  <element name="GetInstanceAttributesDocumentRequestMessage"/>
  <!-- Response Message -->	
  <element name="GetInstanceAttributesDocumentResponseMessage" type="dmi-plain:GetInstanceAttributesDocumentResponseType"/>
  <complexType name="GetInstanceAttributesDocumentResponseType">
    <sequence>
      <element name="InstanceAttributes" type="dmi-plain:InstanceAttributesType"/>
    </sequence>
  </complexType>
  <!-- Supplementary elements -->
  <complexType name="InstanceAttributesType">
    <sequence>
      <element ref="dmi:StartTime" minOccurs="0"/>
      <element ref="dmi:State"/>
      <element ref="dmi:CompletionTime" minOccurs="0"/>
      <element ref="dmi:TotalDataSize" minOccurs="0"/>
      <element ref="dmi:BytesTransferred" minOccurs="0"/>
      <element ref="dmi:Attempts"/>
      <any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>

  <!--
    Operation "GetStatus"
    Input:  n/a
    Output: <dmi:Status />
    Faults: n/a
  -->
  <!-- Request Message -->
  <element name="GetStatusRequestMessage"/>
  <!-- Response Message -->	
  <element name="GetStatusResponseMessage" type="dmi-plain:GetStatusResponseType"/>
  <complexType name="GetStatusResponseType">
    <sequence>
      <element ref="dmi:State"/>
    </sequence>
  </complexType>

  <!--
    Operation "Start"
    Input:  n/a
    Output: n/a
    Faults: <dmi:IncorrectStateFault />
            <dmi:FailedStateTransitionFault />
            <dmi:TransferProtocolNotInstantiatableFault />
            <dmi:CustomFault />
  -->
  <!-- Request Message -->
  <element name="StartRequestMessage"/>
  <!-- Response Message -->	
  <element name="StartResponseMessage"/>

  <!--
    Operation "Activate"
    Input:  n/a
    Output: n/a
    Faults: <dmi:IncorrectStateFault />
            <dmi:FailedStateTransitionFault />
            <dmi:CustomFault />
  -->
  <!-- Request Message -->
  <element name="ActivateRequestMessage"/>
  <!-- Response Message --> 
  <element name="ActivateResponseMessage"/>

  <!--
    Operation "stop"
    Input:  n/a
    Output: n/a
    Faults: <dmi:IncorrectStateFault />
            <dmi:FailedStateTransitionFault />
            <dmi:CustomFault />
  -->
  <!-- Request Message -->
  <element name="StopRequestMessage"/>
  <!-- Response Message --> 
  <element name="StopResponseMessage"/>

  <!--
    Operation "restart"
    Input:  n/a
    Output: n/a
    Faults: <dmi:IncorrectStateFault />
            <dmi:FailedStateTransitionFault />
            <dmi:CustomFault />
  -->
  <!-- Request Message -->
  <element name="ResumeRequestMessage"/>
  <!-- Response Message --> 
  <element name="ResumeResponseMessage"/>

  <!--
    Operation "suspend"
    Input:  n/a
    Output: n/a
    Faults: <dmi:IncorrectStateFault />
            <dmi:FailedStateTransitionFault />
            <dmi:CustomFault />
  -->
  <!-- Request Message -->
  <element name="SuspendRequestMessage"/>
  <!-- Response Message --> 
  <element name="SuspendResponseMessage"/>

</schema>