trunk/dts-schema/src/main/resources/minx-dts-messages.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://schemas.dataminx.org/dts/2009/07/messages"
    xmlns:mdts-msgs="http://schemas.dataminx.org/dts/2009/07/messages"
    xmlns:mjsdl="http://schemas.dataminx.org/dts/2009/07/jsdl"
    xmlns:jsdl="http://schemas.ggf.org/jsdl/2005/11/jsdl"
    xmlns:dmi="http://schemas.ogf.org/dmi/2008/05/dmi"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    elementFormDefault="qualified" version="1">

    <!-- Import OGF and MINX schemas -->
    <xsd:import namespace="http://schemas.dataminx.org/dts/2009/07/jsdl"
                schemaLocation="minx-jsdl.xsd" />
    <xsd:import namespace="http://schemas.ggf.org/jsdl/2005/11/jsdl"
                schemaLocation="jsdl-redef.xsd" />
    <xsd:import namespace="http://schemas.ogf.org/dmi/2008/05/dmi"
                schemaLocation="dmi-redef.xsd" />


    <!--
      Operation "submitJobDocument"
      Input:  <jsdl:JobDefinition />
      Output: <mjsdl:JobResourceKey />
      Faults: <mdts-msgs:InvalidJobDefinitionFaultType />
              <mdts-msgs:TransferProtocolNotSupportedFaultType />
              <mdts-msgs:AuthenticationFaultType />
              <mdts-msgs:AuthorisationFaultType />
    -->
    <xsd:element name="submitJobRequest">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element name="JobDefinition" type="jsdl:JobDefinition_Type" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="submitJobResponse">
      <xsd:complexType>
        <xsd:sequence>
        <xsd:element ref="mjsdl:JobResourceKey" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>


    <!--
      Operation "suspendJobDocument"
      Input:  <mjsdl:JobResourceKey />
      Output: n/a
      Faults: <mdts-msgs:AuthenticationFaultType />  TODO: Not sure if this one's needed here
              <mdts-msgs:AuthorisationFaultType />
              <mdts-msgs:NonExistentJobFaultType />
              <mdts-msgs:JobStatusUpdateFaultType />
    -->
    <xsd:element name="suspendJobRequest">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element ref="mjsdl:JobResourceKey" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>

    <!--
      Operation "resumeJobDocument"
      Input:  <mjsdl:JobResourceKey />
      Output: n/a
      Faults: <mdts-msgs:AuthenticationFaultType />  TODO: Not sure if this one's needed here
              <mdts-msgs:AuthorisationFaultType />
              <mdts-msgs:NonExistentJobFaultType />
              <mdts-msgs:JobStatusUpdateFaultType />
    -->
    <xsd:element name="resumeJobRequest">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element ref="mjsdl:JobResourceKey" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>

    <xsd:element name="resumeJobResponse">
        <xsd:complexType>
        <xsd:sequence>
          <xsd:element name="SuccessFlag" type="xsd:boolean" minOccurs="0" />
        </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!--
      Operation "cancelJobDocument"
      Input:  <mjsdl:JobResourceKey />
      Output: n/a
      Faults: <mdts-msgs:AuthenticationFaultType />  TODO: Not sure if this one's needed here
              <mdts-msgs:AuthorisationFaultType />
              <mdts-msgs:NonExistentJobFaultType />
              <mdts-msgs:JobStatusUpdateFaultType />
    -->
    <xsd:element name="cancelJobRequest">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element ref="mjsdl:JobResourceKey" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>

    <xsd:element name="cancelJobResponse">
        <xsd:complexType>
        <xsd:sequence>
          <xsd:element name="SuccessFlag" type="xsd:boolean" minOccurs="0" />
        </xsd:sequence>
        </xsd:complexType>
   </xsd:element>

    <!--
      Operation "getJobStatusDocument"
      Input:  <mjsdl:JobResourceKey />
      Output: <dmi:State />
      Faults: <mdts-msgs:AuthenticationFaultType />  TODO: Not sure if this one's needed here
              <mdts-msgs:AuthorisationFaultType />
              <mdts-msgs:NonExistentJobFaultType />
    -->
    <xsd:element name="getJobStatusRequest">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element ref="mjsdl:JobResourceKey" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="getJobStatusResponse">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element ref="dmi:State" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    
    <!--
      Operation "getJobDetailsDocument"
      Input:  <mjsdl:JobResourceKey />
      Output: <dmi:State />
      Faults: <mdts-msgs:AuthenticationFaultType />  TODO: Not sure if this one's needed here
              <mdts-msgs:AuthorisationFaultType />
              <mdts-msgs:NonExistentJobFaultType />
    -->
    <xsd:element name="getJobDetailsRequest">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element ref="mjsdl:JobResourceKey" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    <xsd:element name="getJobDetailsResponse">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element ref="mdts-msgs:JobDetails" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
    
    <xsd:complexType name="JobDetailsType">
      <xsd:annotation>
        <xsd:documentation>
          The job detail holds detailed information about the state the job is in. It holds
          timed information on when the job was created, queued, status, etc if they are 
          available.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
        <xsd:element ref="mjsdl:JobResourceKey" minOccurs="0" />
        <xsd:element ref="jsdl:JobName" minOccurs="0"/>        
        <xsd:element name="Status" type="dmi:StatusValueType"
            minOccurs="0" />
        <xsd:element name="Owner" type="xsd:string"
            minOccurs="0" />
        <xsd:element name="CreationTime" type="xsd:dateTime"
            minOccurs="0" />
        <xsd:element name="QueuedTime" type="xsd:dateTime"
            minOccurs="0" />
        <xsd:element name="ActiveTime" type="xsd:dateTime"
            minOccurs="0" />
        <xsd:element name="SuccessFlag" type="xsd:boolean"
            minOccurs="0" />
        <xsd:element name="FinishedFlag" type="xsd:boolean"
            minOccurs="0" />
        <xsd:element name="WorkerTerminatedTime" type="xsd:dateTime"
            minOccurs="0" />
        <xsd:element name="JobAllDoneTime" type="xsd:dateTime"
            minOccurs="0" />
        <xsd:element name="FilesTotal" type="xsd:integer"
            minOccurs="0" />
        <xsd:element name="FilesTransferred" type="xsd:integer"
            minOccurs="0" />
        <xsd:element name="VolumeTotal" type="xsd:integer"
            minOccurs="0" />
        <xsd:element name="VolumeTransferred" type="xsd:integer"
            minOccurs="0" />
      </xsd:sequence>
      <xsd:anyAttribute namespace="##other" processContents="lax"/>
    </xsd:complexType>
    <xsd:element name="JobDetails" type="mdts-msgs:JobDetailsType"/>
    
    <!--
    Type of faults that could be thrown by DTS...

    during job submissions
    - validation faults
    - data transfer protocol not supported
    - authentication to the WS failed
    - authorisation failure in accessing the remote files (source and/or sink)

    during get job status
    - authorisation fault
    - maybe authentication fault?
    - non existent job

    during job suspend
    - authorisation fault
    - maybe authentication fault?
    - non existent job
    - job already in suspended state

    during job cancel
    - authorisation fault
    - maybe authentication fault?
    - non existent job
    - job already done state (not in suspended or running state)
    -->

    <!-- Common type for all OGSA-DMI specific faults -->
    <xsd:complexType name="DtsFaultType">
      <xsd:sequence>
        <xsd:element name="Message" type="xsd:string"/>
        <xsd:element name="Timestamp" type="xsd:dateTime"/>
        <xsd:any namespace="#other" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>

    <!-- CustomFault message -->
    <xsd:element name="CustomFault" type="mdts-msgs:CustomFaultType"/>
    <xsd:complexType name="CustomFaultType">
      <xsd:complexContent>
        <xsd:extension base="mdts-msgs:DtsFaultType"/>
      </xsd:complexContent>
    </xsd:complexType>

    <!-- InvalidJobDefinitionFault message -->
    <xsd:element name="InvalidJobDefinitionFault" type="mdts-msgs:InvalidJobDefinitionFaultType"/>
    <xsd:complexType name="InvalidJobDefinitionFaultType">
      <xsd:complexContent>
        <xsd:extension base="mdts-msgs:DtsFaultType"/>
      </xsd:complexContent>
    </xsd:complexType>

    <!-- TransferProtocolNotSupportedFault message -->
    <xsd:element name="TransferProtocolNotSupportedFault" type="mdts-msgs:TransferProtocolNotSupportedFaultType"/>
    <xsd:complexType name="TransferProtocolNotSupportedFaultType">
      <xsd:complexContent>
        <xsd:extension base="mdts-msgs:DtsFaultType"/>
      </xsd:complexContent>
    </xsd:complexType>

    <!-- AuthenticationFault message -->
    <xsd:element name="AuthenticationFault" type="mdts-msgs:AuthenticationFaultType"/>
    <xsd:complexType name="AuthenticationFaultType">
      <xsd:complexContent>
        <xsd:extension base="mdts-msgs:DtsFaultType"/>
      </xsd:complexContent>
    </xsd:complexType>

    <!-- AuthorisationFault message -->
    <xsd:element name="AuthorisationFault" type="mdts-msgs:AuthorisationFaultType"/>
    <xsd:complexType name="AuthorisationFaultType">
      <xsd:complexContent>
        <xsd:extension base="mdts-msgs:DtsFaultType"/>
      </xsd:complexContent>
    </xsd:complexType>

    <!-- NonExistentJobFault message -->
    <xsd:element name="NonExistentJobFault" type="mdts-msgs:NonExistentJobFaultType"/>
    <xsd:complexType name="NonExistentJobFaultType">
      <xsd:complexContent>
        <xsd:extension base="mdts-msgs:DtsFaultType"/>
      </xsd:complexContent>
    </xsd:complexType>

    <!-- JobStatusUpdateFault message -->
    <xsd:element name="JobStatusUpdateFault" type="mdts-msgs:JobStatusUpdateFaultType"/>
    <xsd:complexType name="JobStatusUpdateFaultType">
      <xsd:complexContent>
        <xsd:extension base="mdts-msgs:DtsFaultType"/>
      </xsd:complexContent>
    </xsd:complexType>

</xsd:schema>